server:
  port: 8080

spring:
  datasource:
#    url: jdbc:postgresql://localhost:5432/cine_demo_db2
#    username: sametbayat
    url: ${g.url}
    username: ${g.username}
    password: ${g.password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${key.mail-username}
    password: ${key.mail-password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  profiles:
    include: app, key



application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # a day
#      expiration: 2592000000 # 30 days
      #      expiration: 100000 # 10 sec.
      refresh-token:
        expiration: 604800000 # 7 days
#        expiration: 150000 # 15 sec.

mail-service:
  image: src/main/assets/rose_pedal_heart.png
  direct-link: https://sametb.com/ad
  greet: Welcome to CineQuilt!
  slogan: Let our cinematic warmth wrap you with joy!
  farewell: We'll miss you :(
  signature: CineQuiltApp




